import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,700;1,300&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    background-image: url("./background.png");
    padding: 70px 0;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container {
    width: 800px;
    min-height: 900px;
    border: 10px solid white; /* Параметры границы */
    margin: 0 auto;
    background-color: white;
}

.header {
    display: flex;
    background-color: wheat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    height: 200px;
}

.nav ul {
    background-color: rgb(230, 230, 230);
    display: flex;
    margin: 10px 0; /* Обступы до и после меню */
}

.nav li a {
    padding: 20px;
    display: flex;
    text-decoration: none;
    font-weight: bold;
    color: #404040;
    border-right: 1px solid #404040;
    transition: background 1s ease;
}

.nav li a:hover{
    background-color: rgb(200, 200, 200);
}

.content {
    background-color: green; 
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.footer {
    background-color: gray; 
    height: 200px;
    display: flex;
}